<% layout('/layouts/boilerPlate') -%>
<body>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-7 offset-md-2">
        <!-- <div class="card"> -->
          <div class="card-body">
            <h4 class="card-title">Book your stay at <%= listing.title %></h4>
            <br>
            <img src="<%= listing.image.url %>" class="card-img-top mb-3" alt="Listing Image" style="height: 300px; width: 300px;">

            <form action="/listing/<%= listing._id %>/book" method="POST">
              <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" id="startDate" name="startDate" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" id="endDate" name="endDate" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="numGuests" class="form-label">Number of Guests</label>
                <input type="number" id="numGuests" name="numGuests" class="form-control" min="1" required>
              </div>

              <div class="mb-3">
                <label for="specialRequests" class="form-label">Special Requests (Optional)</label>
                <textarea id="specialRequests" name="specialRequests" class="form-control" rows="3"></textarea>
              </div>

              <button type="submit" class="btn btn-primary mb-3">Confirm Booking</button>
            </form>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"></script>
</body>
